.setting-container{
    position: relative;
    left: 250px;

}
.setting-container input{
    height: 30px;
    font-size: 15px;

    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 50px;
}
#storePath{
    width: 500px;
}
.setting-container button{
    border-radius: 10px;
    font-size: 20px;
    color:aliceblue;
    height: 40px;
    background-color: rgb(187, 142, 229);
}